@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body { font-family: 'Noto Sans KR', sans-serif; }
.wrap .menu_bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.486); z-index: 10; }
.menu_bg { display: none; }
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*header*/
.wrap header .header_top .top_banner { width: 100%; }
.wrap header .header_top p { position: absolute; top: 18px; right: 100px;  }
.wrap header .header_top img:last-child { position: absolute; top: 18px; right: 75px; }
.wrap header .header_middle { overflow: hidden; }
.wrap header .header_middle .hd_left { position: relative; width: 33.3%; float: left; margin-top: 15px; }
.wrap header .header_middle .hd_left .search_input .search_box {  border-top: 0; border-right: 0; border-left: 0; border-bottom: 3px solid #f1758d; outline: none; }
.wrap header .header_middle .hd_left .search_button button { border: none; background-color: white; color: #f1758d; }
.wrap header .header_middle .hd_left .search_button i { color: #f1758d; position: absolute; top: 10px; font-size: 20px; }
.wrap header .header_middle .hd_left div { float: left; }
.wrap header .header_middle .hd_left::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .header_middle .hd_middle { float: left; width: 33.3%; }
.wrap header .header_middle .hd_right .login_after_contents { display: none;  }
.wrap header .header_middle .he_right .login_after { position: relative; }
.wrap header .header_middle .he_right .login_after i { position: absolute; top: 0; }
.wrap header .header_middle .hd_right { float: right; width:33.3%; }
.wrap header .header_middle .hd_right .hdr_wrap { margin-top: 15px; }
.wrap header .header_middle { height: 100%; max-height: 120px; }
.wrap header .header_middle .hd_left form .M_menu_icon { display: none; }
.wrap header .header_middle .hd_right .M_hdr_wrap { display: none; }
.wrap header .header_middle .M_search_box { display: none; }
.wrap header .header_middle .hd_right .hdr_wrap a:not(:last-child) { margin-right: 10px; }
.wrap header .header_bottom_wrap { padding: 15px 0; background-color: #ff8b98; }
.wrap header .header_bottom_wrap .header_bottom { overflow: hidden; }
.wrap header .header_bottom_wrap .header_bottom .main_menu-container .swiper-slide a { color: #4e4e4e; font-weight: bold; }
.wrap header .header_bottom_wrap .header_bottom .menu_cate a:first-child { float: left; width: 13%; }
.wrap header .header_bottom_wrap .header_bottom .menu_cate a:last-child { float: right; width: 87%; margin-top: 3px; }
.wrap header .header_bottom_wrap .header_bottom .main_menu_icon { float:left; width:50px; }
.wrap header .header_bottom_wrap .header_bottom .main_menu-container::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .header_bottom_wrap .header_bottom .main_menu-container .swiper-wrapper { float: left; width: 120px; }                
.wrap header .header_bottom_wrap .header_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .header_bottom_wrap .header_bottom .main_menu-container .swiper-slide { justify-content:left; }

/*aside*/
.wrap aside.fixed_top_btn { position: fixed; bottom: 10%; right: 2%; z-index: 100; }
.wrap aside.left_menu_wrap.active { top: 0; left: 0; width: 410px; height: 100%; transition: left 1s; opacity: 1; }
.wrap aside.left_menu_wrap { 
    position: fixed; 
    left: -800px; 
    top: 0; 
    background-color: white; 
    width: 410px; 
    height: 100%; 
    transition-property: opacity,left;
    transition-duration: 1s;
    z-index: 10; 
    overflow: hidden; 
}
.wrap aside.left_menu_wrap .left_logo { background-color: #ff748c; padding: 10px; }
.wrap aside.left_menu_wrap { position: fixed; top: 0; z-index: 11; }
.wrap aside.left_menu_wrap .left_menu .left_menu-container { width: 100%; height:100%; }
.wrap aside.left_menu_wrap .left_menu .left_menu-container .swiper-slide a img { width: 100%; } 
.wrap aside.left_menu_wrap .left_menu .left_menu-container .swiper-slide-duplicate-active { margin-right: 0; }
.wrap aside.left_menu_wrap .left_logo .close_btn a i { color: white; font-size: 24px; }
.wrap aside.left_menu_wrap .left_menu .left_login_box { font-size: 18px; padding: 15px 0; display: flex; justify-content: center; background-color: #f9617b; }
.wrap aside.left_menu_wrap .left_menu .left_login_box div a { color: #ffffff; }
.wrap aside.left_menu_wrap .left_menu .left_login_box div { width: 50%; }
.wrap aside.left_menu_wrap .left_menu .left_login_box .llb_left { border-right: 2px solid #ffffff; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li { padding: 16px 0; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li.active { border-bottom: 2px solid #ddd; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li a { color: rgba(85,85,85); }
.wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li.current { border-bottom: 3px solid #ff748c; } 
.wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li a.active { color: #f1758d; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb { overflow: auto; position: relative; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul:not(.left_sub_menu) > li > a::after{
    position: absolute;
    content: '';
    background: url(../images/mo_down.png) no-repeat center center;
    background-size: contain;
    width: 15px;
    height: 15px;
    right: 25px;
    top: 50%;
    margin-top: -7.5px;
}
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul > li > a.on::after {
    content: '';
    background: url(../images/mo_up.png) no-repeat center center;
    background-size: contain;
}
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_main_menu {
    position: relative;
    display: block;
    color: rgba(85,85,85);
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 400;
}
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li ul { padding: 0 25px; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li ul li { margin-bottom: 10px; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li .left_sub_menu { background-color: #f2f2f2; padding: 10px 25px; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li .left_sub_menu li a { color: rgba(85,85,85); }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li .left_sub_menu li a:hover { color: #f7758f; }
.wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul li .left_sub_menu { display: none; }
.wrap aside.left_menu_wrap .left_logo div { float: right; width: 25px; margin-top: 5px; }
.wrap aside.left_menu_wrap .left_logo::after { content: ''; display: block; overflow: hidden; clear: both; } 
.left_tab { display: none; }
.left_tab_active { display: block; }

/*aside fixed_menu_btn*/
.wrap aside.fixed_menu_btn { width: 70px; height: 70px; position: fixed; right: 2%; bottom: 160px;  z-index: 100; }
.wrap aside.fixed_menu_btn div{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;   
    line-height: 70px;  
    position: relative; 
    z-index: 100;  
    box-shadow: 0 0 20px #e8e8e8;
}
.wrap aside.fixed_menu_btn div a { color: #f1758d; }
.wrap aside.fixed_menu_btn ul { position: absolute; top: 0; overflow: visible; } 
.wrap aside.fixed_menu_btn ul li { width: 70px; height: 70px; border-radius: 50%; background-color: #ffffff; text-align: center; position: absolute; }
.wrap aside.fixed_menu_btn ul li a img { width: 60px; }

/*main_slide*/
.wrap .main_slide div img { width: 100%; }

/*section circle Area*/
.swiper-button-prev,.swiper-button-next { color: red; }
.wrap .circle_slide-container { max-width: 1000px; margin: 50px auto; position: relative; }
.wrap .circle_slide-container .swiper-button-prev {
    /*  left: 300px; top: 100%; */
    /* background: url(../images/arrow_left_best.png) no-repeat center center; */
    /* width: 50px;
    height: 50px; */
    top: 50%;
    /* left: 0;
    outline: none;
    background-size: contain; */
    color: white;

}

.wrap .circle_slide-container .swiper-button-next {
    /* right: 300px; top: 100%; */
    /*  left: 300px; top: 100%; */ 
    /* background: url(../images/arrow_right_best.png) no-repeat center center; */
    /* width: 50px;
    height: 50px; */
    top: 50%;
    /* right: 0;
    margin-left: -700px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-size: contain; */
    
} 

.wrap section.circle_slide-container .swiper-slide img { width: 100%; }
.wrap section.circle_slide-container .swiper-slide:hover::after { opacity: 1; }
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide { margin-right: 0; margin-left: 0; }
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide dl {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 58%;
    top: 0;
    opacity: 0;
    background-color: rgba(24, 24, 24, 0.527);
    margin: 0 auto;
    padding-top: 150px;
    box-sizing: border-box;
    transition: .7s;
}
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide dl dt { font-size: 30px; position: relative; bottom: 65px; }
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide dl dd { position: relative; bottom: 40px; }
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide dl a { color: white; }
.wrap section.circle_slide-container .swiper-wrapper .swiper-slide:hover dl { opacity: 1; }

/*contents*/
.wrap .contents_wrap .contents section.contents_top { background-color: #f9f9f9; }
.wrap .contents_wrap .contents section.contents_top .ct_middle { overflow: hidden; }
.wrap .contents_wrap .contents section.contents_top .ct_middle figure { padding-right: 0; padding-left: 0; }
.wrap .contents_wrap .contents section.contents_top .ct_middle figure figcaption { margin: 20px 0; }
.wrap .contents_wrap .contents section h2 { font-size: 32px; color: #f1758d; border-bottom: 3px solid #f1758d; padding-bottom: 15px; }
.wrap .contents_wrap .contents section.contents_top .ct_top { margin-top: 40px; margin-bottom: 30px; }
.wrap section.contents_middle div { background-color: rgba(0, 0, 0, 0.25); width: 100%; height: 100%; } 
.wrap section.contents_middle {  background: url(../images/middle_banner.png) top center no-repeat fixed;  width: 100%;  height: 265px; } 
.wrap section.contents_middle p { line-height: 250px; font-size: 95px; font-family: 'Damion', cursive; }
.main_menu-container .swiper-slide { width: auto !important; margin-right: 30px !important; }
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,.swiper-button-next, .swiper-container-rtl .swiper-button-prev { top: 100%; outline: none; }

/*contents > contents_bottom (핫딜) */
.wrap .contents_wrap .contents section.contents_bottom .cb_top { margin-top: 40px; margin-bottom: 30px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom { background-color: #f2f2f2; border: 1px solid #ddd; border-top: none; margin-bottom: 20px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div { float: left; width: 50%; background-color: #f2f2f2; padding: 15px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div.cbmb_left { border-right: 1px solid #bbb; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div:hover { background-color: #5d5d5d; /* color: white; */ }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div:hover a { color: white; }
.wrap .contents_wrap .contents section.contents_bottom { background-color: white; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle { overflow: hidden; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap { border: 1px solid #ddd; padding: 15px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap .cbm_top img { width: 100%; margin-bottom: 20px; object-fit: cover; height: 25vh; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap .cbm_top img:hover { transform: scale( 1.1 ); transition: all 0.5s; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle p { text-align: center; margin-bottom: 5px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle p:nth-of-type(3) { margin-bottom: 15px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle h3 { text-align: center; font-size: 18px; font-weight: 600; margin: 15px 0; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div i { margin-right: 5px; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_box { position: relative; }
.wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap img.badge_icon { position: absolute; top: 30px; left: 46px; }

/*member > my_page*/
.wrap .mp_contents .my_option .mo_left { display: inline-block; background-color: #c8c8c8; padding: 10px; }
.wrap .mp_contents .my_option .mo_right { display: inline-block; background-color: #ffb6bf; padding: 10px; } 
.wrap .mp_contents .point_info { border: 1px solid #ddd; }
.wrap .mp_contents .point_info div { padding: 30px; }
.wrap .mp_contents .point_info div ul li { float: left; }
.wrap .mp_contents .point_info div ul::after { content: ''; display: block; overflow: hidden; clear: both; } 
.wrap .mp_contents .mpc_middle { border: 1px solid #ddd; padding: 20px; }
.wrap .mp_contents .mpc_middle .mpcm_top { border-bottom: 1px solid #dedd; }
.wrap .mp_contents .mpc_middle .mpcm_middle { margin-top: 20px; }
.wrap .mp_contents .mpc_bottom ul { border: 1px solid #ddd; padding: 20px; }
.wrap .mp_contents .mpc_bottom ul:hover { background-color: #e8e8e8; }
.wrap .mp_contents .mpc_bottom ul:first-child,
.wrap .mp_contents .mpc_bottom ul:nth-child(2),.wrap .mp_contents .mpc_bottom ul:nth-child(3) { border-right: none; }
.wrap .mp_contents .mpc_bottom ul li a i { color: #616161; }
.wrap .mp_contents .mpcm_bottom ul { overflow: visible; }

/*my_page modal point_insert(포인트등록)*/
.point_insert .point_form fieldset .pb_middle div input { width: 100%; border: 1px solid #ce6161; border-radius: 10px; padding: 5px; }
.modal_background { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.5); z-index: 10; }
.modal_box { display: none; position: fixed; background: #ffffff; z-index: 11; width: 500px; height: 480px; top: 20%; left: 35%; border: 3px solid #ce6161; }
.point_insert .pb_top { padding-top: 50px; }
.point_insert .point_form fieldset .pb_middle div { width: 100%; max-width: 340px; margin: 0 auto; }
.point_insert .point_form fieldset .pb_btn button 
{ border: none; border: 1px solid #ddd; background-color:rgb(95, 95, 95); color: white; padding: 10px; border-radius: 12px; }
.modal_close { position: relative; }
.modal_close i { position: absolute; left: 504px; font-size: 30px; color: #ce6161; }

/*modal find_info(아이디비번찾기)*/
.modal_box .fi_top { padding-top: 50px; padding-bottom: 30px; }
.find_info .find_info_form fieldset button 
{ border: none; background-color: rgb(95,95,95); padding: 10px 20px; font-size: 14px; border-radius: 10px; color:white; }

/*board info_list(공지사항)*/
.wrap .board_contents_wrap .board_contents .board_middle .bm_top > div { float: left; }
.wrap .board_contents_wrap .board_contents .board_middle .bm_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .board_contents_wrap .board_contents .board_middle { border-top: 1px solid #333; }
.wrap .board_contents_wrap .board_contents .board_list_middle { margin-bottom: 30vh; }
.wrap .board_contents_wrap .board_contents .board_middle .bm_top { border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.wrap .board_contents_wrap .board_contents .board_middle .main_subject { border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-top: 15px; }
.wrap .board_contents_wrap .board_contents .board_middle .sub_subject .new_sticker { border: 1px solid #f51b80; font-size:12px; background-color: #f51b80; padding: 2px 4px 6px 4px; color: white; border-radius: 10px; }

/*board iquery_list(문의사항)*/
.wrap .board_contents_wrap .board_contents .board_middle .bm_top > div { float: left; }
.wrap .board_contents_wrap .board_contents .board_middle .bm_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .board_contents_wrap .board_contents .board_middle { border-top: 1px solid #333; margin-bottom: 20px; }
.wrap .board_contents_wrap .board_contents .board_middle .bm_top { border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.wrap .board_contents_wrap .board_contents .board_middle .main_subject { border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-top: 15px; }
.wrap .board_contents_wrap .board_contents .board_middle .sub_subject .new_sticker { border: 1px solid #f51b80; font-size:12px; background-color: #f51b80; padding: 2px 4px 6px 4px; color: white; border-radius: 10px; }
.wrap .board_contents_wrap .board_contents .inquery_btn { margin-bottom: 20vh; }
.wrap .board_contents_wrap .board_contents .inquery_btn a { display: inline-block; padding: 10px; background-color: #ded9d9; color: 565656; font-size: 13px; }
.modal_inquery_box { display: none; position: fixed; background-color: white; z-index: 100; width: 700px; height: 700px; top: 10%; left: 32%; border: 3px solid #ce6161; }
.inquery_close i { position: absolute; left: 700px; font-size: 30px; color: #ce6161; }
.modal_inquery_background {  display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.5); z-index: 10; }
.wrap .modal_inquery_box .inquery_top { margin: 40px 0; }
.wrap .iq_write_form .iq_write p { float: left; width: 20%; text-align: right; }
.wrap .iq_write_form .iq_write div { float: right; width: 75%; text-align: left; }
.wrap .iq_write_form .iq_write::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .iq_write_form .iq_write_btn button { border: 1px solid #ddd; padding: 10px 40px; font-size: 15px; }

/*board_view*/
.wrap .board_contents_wrap .view_contents .vc_top div p:first-child { float: left; }
.wrap .board_contents_wrap .view_contents .vc_top div::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .board_contents_wrap .view_contents .view_btn  { margin-bottom: 20vh; }
.wrap .board_contents_wrap .view_contents .view_btn a { display: inline-block;  font-size: 13px; }
.wrap .board_contents_wrap .view_contents .vc_middle { margin: 5% 10px; }

/*login*/
.wrap .login_wrap { margin: 5% 0; }
.wrap .login_wrap .login_contents { width: 100%; max-width: 430px; margin: 0 auto; }
.wrap .login_wrap .login_contents .login_middle ul li input 
{ font-size: 14px; width: 100%; border: none; border-bottom: 1px solid rgb(172, 172, 172); outline: none; color: rgb(148, 148, 148); }
.wrap .login_wrap .login_contents .login_middle .lm_top li,
.wrap .login_wrap .login_contents .login_middle .lm_middle li { float: left; }
.wrap .login_wrap .login_contents .login_middle .lm_top::after,
.wrap .login_wrap .login_contents .login_middle .lm_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .login_wrap .login_contents .login_middle .lm_top li:first-child,
.wrap .login_wrap .login_contents .login_middle .lm_middle li:first-child { line-height: 27px; }
.wrap .login_wrap .login_contents .login_bottom div { width: 100%; background-color: #ddd; }
.wrap .login_wrap .login_contents .login_bottom div button { border: none; padding: 20px; background-color: #ddd; }
.wrap .login_wrap .login_contents .login_bottom input { margin-right: 10px; }
.wrap .login_wrap .login_contents .login_middle .lm_bottom li { float: left; width: 50%; }
.wrap .login_wrap .login_contents .login_middle .lm_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .login_wrap .login_contents .login_middle .lm_bottom li button { border: none; background-color: white; padding: 0; }

/*footer*/
.wrap footer { background-color: #f6f6f6; overflow: hidden; }
.wrap footer div { overflow: hidden; }
.wrap footer .footer_top { line-height: 0; }
.wrap footer .footer_top img { width: 100%; } 
.wrap footer .footer_middle { background-color: #ff8b98; }
.wrap footer .footer_middle .ftm_top { padding: 20px 0; }
.wrap footer .footer_middle .ftm_top { width: 100%; max-width: 1200px; margin: 0 auto; }
.wrap footer .footer_middle .ftm_top a { display: inline-block; margin-right: 20px; text-align: left; color: #4e4e4e; font-weight: 600; }
.wrap footer .footer_bottom_wrap { padding: 32px 0; }     
.wrap footer .footer_bottom_wrap .footer_bottom div { float: left; }
.wrap footer .footer_bottom_wrap .footer_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .footer_bottom_wrap .footer_bottom .ftm_left img { width: 100%; }
.wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle ul li:last-child { color: #575757; }

/*product_view*/
.product_wrap td,.product_wrap th,.product_wrap tr { border: 1px solid #ddd; }
.product_wrap .p_contents .p_middle { padding: 30px 30px 50px 30px; }
.product_wrap .p_contents .p_middle .p_left { float: left; width: 50%; }
.product_wrap .p_contents .p_middle .p_left .main_img { width: 100%; }
.product_wrap .p_contents .p_middle .p_left .main_img a img { width: 100%; }
.product_wrap .p_contents .p_middle .pro_form { float: right; width: 45%; margin-left: 5%; }
.product_wrap .p_contents .p_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .p_left .sub_img ul li { float: left; width: 32%; margin-right: 2%; }
.product_wrap .p_contents .p_middle .p_left .sub_img ul li a img { width: 100%; }
.product_wrap .p_contents .p_middle .p_left .sub_img ul li:last-child { margin-right: 0; }
.product_wrap .p_contents .p_middle .p_left .sub_img ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .p_right .pro_name { border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.product_wrap .p_contents .p_middle .p_right .pro_info ul li ul li { float: left; line-height: 26px;  }
.product_wrap .p_contents .p_middle .p_right .pro_info ul li ul li:first-child img { width: 28px; }
.product_wrap .p_contents .p_middle .pro_form .p_right .pro_info ul li ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .pro_form .p_right .pro_price ul li:first-child { float: left; }
.product_wrap .p_contents .p_middle .pro_form .p_right .pro_price ul li:last-child { float: right; }
.product_wrap .p_contents .p_middle .pro_form .p_right .pro_price ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .pro_title { float: left; width: 60%; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box { float: right; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box .count_input { float: left; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box .count_input input { width: 65px; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box::after { content: ''; display: block; overflow: hidden; clear: both; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box .count_button { float: left; }
.product_wrap .p_contents .p_middle .pro_form .p_right .amount .count_box .count_button input { display: block; border: none; background-color: #ddd; font-size: 10px; height: 15px; }
.product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div button { border: none; background: none; }
.product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div:last-child { float: right; background-color: #ffb6bf; border: 1px solid #ffb6bf; width: 49%; padding: 3% 2%; }
.product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div:first-child {  float: left; border: 1px solid #ddd; width: 49%; padding: 3% 2%; }
.wrap .p_contents .p_bottom .cmb_tab ul li { float: left; width: 33.3%; }
.wrap .p_contents .p_bottom .cmb_tab ul li a
{ display: block; height: 60px; background-color: #f7f7f7; border: 1px solid #cdcdcd; font-size: 17px; color: #666; line-height: 58px; text-align: center; }
.wrap .p_contents .p_bottom .cmb_tab ul li:not(:last-child) a { border-right: none; }
.wrap .p_contents .p_bottom .cmb_tab ul li a.menu_active { background-color: #6b7279ba; color: white; }
.wrap .p_contents .p_bottom .cmb_contents { display: none; }
.wrap .p_contents table ul li { margin-bottom: 10px; word-break: keep-all; }
.tab_block { display: block; }
.wrap .p_contents th { padding: 2%; }
.wrap .p_contents .pd1per { padding: 1%; }
.wrap .p_contents .info_list table th,.wrap .p_contents .info_list table td { padding: 10px; color: #333; }

/*product_list*/
.wrap .product_wrap .p_list_middle div ul li a img { width: 100%; object-fit: scale-down; height: 25vh; }
.wrap .product_wrap .p_list_middle div ul li:last-child a { color: rgb(101, 101, 101); }

/*order*/
.wrap .order_wrap section { padding: 10px; }
.wrap .order_wrap section h3 { border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.wrap .order_wrap .order_top .pro_info h3 { border-bottom: none; }
.wrap .order_wrap .order_top .pro_info .order_list div  { float: left; text-align: center; }
.wrap .order_wrap .order_top .pro_info .order_list::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_top .pro_info .order_list { border-top: 1px solid #6b6b6b; border-bottom: 1px solid #bdbcbc; padding: 10px 0; }
.wrap .order_wrap .order_top .pro_info div:last-child { border-top: none; }
.wrap .order_wrap .order_top .pro_info .pro_list div:first-child a { float: left; width: 33.3%; }
.wrap .order_wrap .order_top .pro_info .pro_list div:first-child::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_middle .om_list div { float: left; padding-right: 30px; }
.wrap .order_wrap .order_middle .om_list::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_middle .om_list select { width: 150px; }
.wrap .order_wrap .order_middle .om_list .info_deliver select { width: 100%; }
.wrap .order_wrap .order_middle .addr_div > div:last-child .addr_wrap .addr_detail { float: none; }
.wrap .addr_zip .btn_zip { padding: 5px; border: 1px solid #ddd; background-color: #8e8e8e; }
.wrap .addr_zip .btn_zip a { padding: 10px; font-size: 14px; color: white; }
.wrap .order_wrap .order_middle .receiver_info .ri_top h3 { float: left; border-bottom: none; }
.wrap .order_wrap .order_middle .receiver_info .ri_top { border-bottom: 1px solid #ddd; }
.wrap .order_wrap .order_middle .receiver_info .ri_top .same_input { float: right; }
.wrap .order_wrap .order_middle .receiver_info .ri_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_bottom .charge_info .cil_top div { background-color: rgb(247, 247, 247); padding: 15px 10px 10px 10px; }
.wrap .order_wrap .order_bottom .charge_info .cil_top ul { float: left; width: 33.3%; }
.wrap .order_wrap .order_bottom .charge_info .cil_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul li:first-child { border-right: none; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul li { float: left; width: 50%; border: 1px solid #ddd; padding: 10px; user-select: none; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul li.active { background-color: rgb(185, 185, 185); border: 1px solid #ddd; border-right: none; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul { width: 100%; max-width: 300px; margin: 0 0 auto 0; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle { float: left; width: 60%; border-right: 1px solid #ddd; margin-right: 10px; }
.wrap .order_wrap .order_bottom .charge_info .cil_middle .pay_info .pay_card .pay_card_box div::after { content: ''; display: block; overflow: hidden; clear: both; } 
.wrap .order_wrap .order_bottom .charge_info .pay_bottom { border: 1px solid #ddd; padding: 20px; }
.wrap .order_wrap .order_bottom .charge_info .cil_bottom { float: right; width: 30%; }
.wrap .order_wrap .order_bottom .charge_info::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_bottom .charge_info .cil_bottom ul li { float: left; width: 50%; }
.wrap .order_wrap .order_bottom .charge_info .cil_bottom ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_wrap .order_bottom .charge_info .cil_bottom button { border: none; padding: 15px; width: 80%; color: white; background-color: red; }

/*order_result*/
.wrap .order_result_wrap .result_contents .rc_top .rct_top { border-bottom: 1px solid #ddd; padding-bottom: 10px; padding: 10px; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom { border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom a { float: left;    }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom ul { float: left; text-align: left; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right button { border: none; padding: 10px 15px; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right li:last-child button:hover { background-color: red; }
.wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right button:hover { transition: .5s; color: white; background-color: #2f9fff; }

.wrap .order_result_wrap .result_contents .sub_title { border-bottom: 1px solid #ddd; padding-bottom: 10px; }
.wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom ul { float: left; }
.wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_result_wrap .result_contents .rc_bottom .rcb_bottom ul { float: left;}
.wrap .order_result_wrap .result_contents .rc_bottom .rcb_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }