@media (max-width:1200px) {
    .dw_1200px { width: 90%; }
    /*header*/
    .wrap header .header_middle .hd_right .hdr_wrap a { font-size: 14px; }
    .wrap header .header_middle .hd_middle h1 a img { width: 200px; }
    .wrap section.circle_slide-container .swiper-wrapper .swiper-slide dl { display: none; }

    /*my_page modal point_insert*/
    .modal_box { left: 27%; }

    /*board iquery_list(공지사항)*/
    .modal_inquery_box { left: 18%; }

    /*order*/
    .wrap .order_wrap .order_bottom .charge_info .pay_bottom .cil_middle .pay_info .pay_cash ul li input,
    .wrap .order_wrap .order_bottom .charge_info .pay_bottom .cil_middle .pay_info .pay_card .pay_card_box div input { width: 15%; }

    /*order_result*/
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_left { width: 20%; text-align: left; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_left img { width: 100%; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_center { width: 50%; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right { width: 30%; text-align: right; }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom ul { width: 50%; }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom ul:last-child { text-align: right; }
    .wrap .order_result_wrap .result_contents .rc_bottom .rcb_bottom ul { width: 50%; }
    
    /*mb_reg_form(회원가입, 회원정보수정)*/
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle div.mrf_email,.wrap .mb_reg_wrap .mrf_contents .mrf_middle div.mrf_address { float: none; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle div.mrf_email .mrfe_input ,.wrap .mb_reg_wrap .mrf_contents .mrf_middle div.mrf_address .mrfa_input { width: 100%; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle div.mrf_address .mrfa_input:first-child { margin-bottom: 10px; }

    /*footer*/
    .wrap footer .footer_middle .ftm_top { width: 90%; }
    .wrap footer .footer_bottom_wrap .footer_bottom div:first-child { display: none; }
    .wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle { width: 70%; } 
}
@media (max-width:1200px) and (min-width:992px) {
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle p { font-size: 13px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle h3 { font-size: 16px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div a { font-size: 14px; } 
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div a i { display: none; }
}

@media (max-width:992px) {
    .wrap header .header_middle .hd_right .hdr_wrap a:last-child { display: none; }
    .wrap header .header_middle .hd_right .hdr_wrap { margin-top: 20px; }
    .wrap header .header_middle .hd_right .hdr_wrap a:nth-child(3) { margin-right: 0; }

    .wrap section.circle_slide-container { margin: 30px auto; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle p { font-size: 13px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle h3 { font-size: 16px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div a { font-size: 14px; } 
    .wrap section.contents_middle p { font-size: 50px; }
    .wrap .contents_wrap .contents section.contents_top .ct_middle figure img { width: 90%; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap .cbm_top img:hover { transform: none; }

    /*my_page modal point_insert*/
    .modal_box { left: 20%; }
    .wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle ul li,.wrap footer .footer_bottom_wrap .footer_bottom .ftb_right ul li { font-size: 14px; }

    /*board iquery_list(문의사항)*/
    .inquery_close i { left: 0; }
    .modal_inquery_box { width: 100%; left: 0; top: 10%; height: 520px;  }
    .wrap .modal_inquery_box .inquery_top h2 { font-size: 18px; margin: 20px 0; }
    .wrap .modal_inquery_box .inquery_top p { font-size: 13px; }
    .wrap .iq_write_form .iq_write p { font-size: 14px; }
    .wrap .iq_write_form .iq_write div input::placeholder { font-size: 13px; }
    .wrap .iq_write_form .iq_write div span input { width: 30%; }
    .wrap .iq_write_form .iq_write { margin-bottom: 10px; }
    .wrap .modal_inquery_box .inquery_top { margin-top: 10px; margin-bottom: 20px; }
    .wrap .iq_write_form .iq_write_email select { width: 47%; }
    .wrap .iq_write_form .iq_write_email div span input { width: 40%; }
    .iq_write_number select { width: 25%; }
    .wrap .iq_write_form .iq_write_textara div input,.wrap .iq_write_form .iq_write_textarea textarea { width: 92%; }

    /*order*/
    .wrap .order_wrap .order_middle .om_list div { padding-right: none; margin-right: none; }
    .wrap .order_wrap section.order_middle .orderer_info .om_list input { width: 30%; padding: 0; }
    .wrap .order_wrap section.order_middle .orderer_info .om_list .info_deliver input { width: 100px; padding: 0; } 
    .wrap .order_wrap section.order_middle .receiver_info .om_list .info_deliver input { width: 100px; padding: 0; }
    .wrap .order_wrap section.order_middle .receiver_info .om_list input { width: 30%; }
    .wrap .order_wrap .order_middle .om_list div:first-child { width: 10%; padding-right: 0; margin-right: 0;  }
    .wrap .order_wrap .order_middle .om_list div:last-child { width: 90%; padding-right: 0; }
    .wrap .order_wrap .order_middle .om_list div:last-child.addr_wrap .addr_zip,.wrap .order_wrap .order_middle .om_list div:last-child.addr_wrap 
    .addr_detail { width: 100%; }
    .wrap .order_wrap .order_middle .om_list div:first-child.deli_required { width: 20%; }
    .wrap .order_wrap .order_middle .om_list div:first-child.deli_required + div { width: 50%; }
    .wrap .order_wrap .order_bottom .charge_info .cil_top ul li input { width: 30%; }
    .wrap .order_wrap .order_bottom .charge_info .cil_top ul li:last-child input { width: 100px; }
    .wrap .order_wrap .order_contents .order_form > .order_title { margin-bottom: 10px; }
    .wrap .order_wrap .order_middle .orderer_info.mtb30px { margin: 0; }
    .wrap .order_wrap .order_middle .om_list div:last-child.addr_wrap input { width: 48%; }

    /*order_result*/
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom .rcmb_left { width: 30%; }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom .rcmb_right { width: 70%; }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom .rcmb_left li:nth-child(3) { margin-bottom: 25px; }
    .wrap .order_result_wrap .result_contents .rc_bottom .rcb_bottom ul { width: 50%; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_center { width: 60%; padding-top: 25px; font-size: 14px; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right { width: 20%; text-align: right; }

    /*mb_reg_form(회원가입, 회원정보수정)*/
    .wrap .mb_reg_wrap .mrf_contents .mrf_list div.mrfl_subject { width: 40%; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_list div:last-child { width: 60%; }
    .wrap .mb_reg_wrap .addr_zip .btn_zip a { padding: 0; }
}
@media (max-width:768px) {
    .wrap aside.fixed_menu_btn { display: none; }
    .wrap header .header_top { display: none; }
    .wrap header .header_middle { padding: 20px 0; }
    .wrap header .header_middle .hd_left { margin-top: 10px; }
    .wrap header .header_middle .hd_left form .M_menu_icon { display: block; }
    .wrap header .header_middle .hd_left form .search_input { display: none; }
    .wrap header .header_middle .hd_left form .search_button { display: none; }
    .wrap header .header_middle .hd_middle h1 a img { width: 200px; }
    .wrap header .header_middle .hd_middle { width: 40%; }
    .wrap header .header_middle .hd_right,.wrap header .header_middle .hd_left { width: 30%; }
    .wrap header .header_middle .hd_right .M_hdr_wrap { display: block; margin-top: 10px; } 
    .wrap header .header_middle .hd_right .M_hdr_wrap a:last-child img { width: 33px; }
    .wrap header .header_middle .hd_right .hdr_wrap { display: none; }
    .wrap header .header_middle .M_search_box { width: 100%; position: absolute; top: 0; left: 0; text-align: center; z-index: 11; background-color: #fff7f7; padding: 20px; box-shadow: 0 10px 20px #b1b1b1b0; }
    .wrap header .header_middle .M_search_box .Msb_top a:first-child { float: left; }
    .wrap header .header_middle .M_search_box .Msb_top a:first-child span { color: grey; }
    .wrap header .header_middle .M_search_box .Msb_top a:last-child { float: right; }
    .wrap header .header_middle .M_search_box .Msb_top::after { content: ''; display: block; overflow: hidden; clear: both; }
    .wrap header .header_middle .M_search_box form.Msb_middle input { width: 80%; padding: 3px; outline: none; border: 2px solid #f1758d; border-radius: 10px; }
    .wrap header .header_middle .M_search_box form.Msb_middle input::placeholder { padding-left: 10px; color: #b8b8b8; }
    .wrap header .header_middle .M_search_box form.Msb_middle button { border: none; color: #ffffff; background-color: #f1758d; border-radius: 10px; padding: 9px; }
    .wrap header .header_middle .M_search_box form.Msb_middle  { padding-bottom: 32px; }
    .wrap header .header_bottom_wrap .header_bottom .main_menu-container .swiper-slide a { font-size: 14px; }
    .wrap header .header_bottom_wrap .header_bottom .main_menu_icon { display: none; }
    .wrap header .header_bottom_wrap { padding-top: 10px; padding-bottom: 15px; }
    .wrap .contents_wrap .contents section.contents_top .ct_middle figure img { width: 85%; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom ul { width: auto; }
    .wrap .contents_wrap .contents section h2 { font-size: 24px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap { padding-bottom: 0; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap .cbm_top img { margin-bottom: 10px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_wrap { padding: 10px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle p { font-size: 16px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_middle h3 { font-size: 18px; }
    .wrap .contents_wrap .contents section.contents_bottom .cb_middle .cbm_bottom div a { font-size: 17px; } 

    /*product_view*/
    .wrap .p_contents { padding-top: 5%; }
    .product_wrap .p_contents .p_middle .p_left { width: 100%; }
    .product_wrap .p_contents .p_middle .pro_form { width: 100%; margin-left: 0; margin-top: 30px; }
    .product_wrap .p_contents .p_middle { padding: 4% 0; }
    .p_contents h2 { font-size: 18px; }

    /*product > product_list*/
    .wrap .product_wrap .p_list_contents { width: 100%; }
    .wrap .product_wrap .p_list_contents .p_list_top { width: 90%; margin: 0 auto; }
    .wrap .product_wrap .p_list_top div a { font-size: 13px; margin-right: 5px; }
    .wrap .product_wrap .p_list_middle div ul { border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-bottom: 10px; }
    .wrap .product_wrap .p_list_middle div ul li { margin-bottom: 10px; }
    .wrap .product_wrap .p_list_middle div ul li:not(:nth-child(2)) a { font-weight: 600; }
    .wrap .product_wrap .p_list_middle div ul li a span,.wrap .product_wrap .p_list_middle div ul li a  { font-size: 13px; }
    .wrap .p_list_contents .p_list_top > div { margin-top: 0;}

    /*member > my_page*/
    .wrap .mp_contents .point_info div ul:nth-child(3) { margin-bottom: 20px; }
    .wrap .mp_contents .point_info div { padding: 20px 10px; }
    .wrap .mp_contents .point_info div ul { font-size: 14px; }
    .wrap .mp_contents .mpc_top .my_option a { font-size: 12px; }
    .wrap .mp_contents .mpc_middle { padding: 15px 15px 20px 15px; }
    .wrap .mp_contents .mpc_middle .mpcm_top { padding-bottom: 10px; }
    .wrap .mp_contents .mpc_middle .mpcm_top div { font-size: 14px; }
    .wrap .mp_contents .mpc_middle .mpcm_middle ul:nth-child(2) { margin-bottom: 15px; }
    .wrap .mp_contents .mpc_middle .mpcm_middle ul li:first-child a { font-size: 14px; }
    .wrap .mp_contents .mpc_bottom ul li a i { font-size: 20px; }
    .wrap .mp_contents .mpc_bottom ul li:nth-child(2) a { font-size: 16px; }
    .wrap .mp_contents .mpc_bottom ul li:last-child { font-size: 14px; }
    .wrap .mp_contents .mpc_bottom ul:nth-child(2) { border-right: 1px solid #ddd; }
    .wrap .mp_contents .mpc_bottom ul:first-child,.wrap .mp_contents .mpc_bottom ul:nth-child(2) { border-bottom: none; }

    /*login*/
    .wrap .login_wrap { margin: 10% 0; }
    .wrap .login_wrap .login_contents { width: 80%; }
    .wrap .login_wrap .login_contents .login_top h2 { font-size: 24px; }

    /*my_page modal point_insert*/
    .modal_close i { left: 0; }
    .modal_box { width: 100%; left: 0;  }
    .point_insert .point_form fieldset .pb_middle div { width: 75%; }
    .point_insert .point_form fieldset .pb_middle div input { padding: 1px; }
    .point_insert .point_form fieldset .pb_middle div input::placeholder { font-size: 13px; padding-left:5px; }
    .point_insert .point_form fieldset p { font-size: 14px; }
    .point_insert { height: 420px; }
    .point_insert .pb_top { padding-top: 40px; }
    .point_insert .point_form fieldset .pb_btn button { font-size: 14px; }

    /*order*/
    .wrap .order_wrap section h3 ,.wrap .order_wrap .order_bottom .charge_info .cil_middle h4 { font-size: 16px; font-weight: 600; }
    .wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select p { font-size: 14px; margin-bottom: 10px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_middle .pay_info .pay_cash ul li,.wrap .order_wrap section.order_middle .mb20px { margin-bottom: 10px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_middle .pay_info ul li ,.wrap .order_wrap .order_bottom .charge_info .pay_bottom .cil_middle .pay_info .pay_card .pay_card_box div { font-size: 13px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_middle { float: none; width:100%; border-right: 0; margin-bottom: 20px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom { float: none; width:100%; border: 1px solid #ddd; padding: 20px; text-align: center; }
    .wrap .order_wrap .order_middle .om_list select,.wrap .order_wrap section.order_middle .orderer_info .om_list .info_deliver input { width: 30%; }
    .wrap .order_wrap .order_middle .om_list div:first-child { float: none; width:100%; margin-bottom: 10px; }
    .wrap .order_wrap .order_middle .om_list div:last-child { float: none; width: 100%; }
    .wrap .order_wrap .order_bottom .charge_info .pay_bottom { border: none; padding: 0; }
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom button { width: 70%; padding: 10px;  }
    .wrap .order_wrap .order_middle .receiver_info .ri_top { margin-top: 20px; }
    .wrap .order_wrap .order_middle .receiver_info { margin-bottom: 0; }
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom div h4 { font-size: 18px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom div p { font-size: 18px; margin: 10px 0; }
    .wrap .order_wrap .order_middle .om_list div:first-child,
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom ul li,.wrap .order_wrap .order_bottom .charge_info .cil_middle .payment_select ul li , .wrap .order_wrap .order_bottom .charge_info .cil_top ul 
    ,.wrap .order_wrap .order_top .pro_info .order_list div { font-size: 14px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_top ul li:last-child input { width: 70px; }
    .wrap .order_wrap .order_middle .receiver_info .ri_top .same_input span { font-size: 12px; }
    .wrap .order_wrap .order_middle .om_list div:first-child.deli_required { width: 100%; }
    .wrap .order_wrap .order_middle .om_list .info_deliver select { width: 200px; }

    /*order_result*/
    .wrap .order_result_wrap .result_contents .rc_top .rct_top h3 { font-size: 16px; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom a { float: none; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom ul { float: none; width: 100%;  }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_left { width: 100%; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_top { width: 100%; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_center { width: 100%; font-size: 16px; padding-top: 0; margin: 20px 0; }
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right,
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right button { width: 100%; padding: 15px 0;  }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom,.wrap .order_result_wrap .result_contents .rc_bottom,.wrap .order_result_wrap .result_contents .rc_top .rct_top { font-size: 14px; }
    .wrap .order_result_wrap .result_contents .rc_middle .rcm_bottom { padding: 20px 0; }
    .order_result_wrap .result_contents .rc_bottom .rcb_bottom { padding: 20px 0; }
    .order_result_wrap .result_contents .rc_bottom .rcb_bottom ul li:last-child { font-size: 16px; }
    .order_btn { font-size: 14px; margin: 3% 0; }

    /*mb_reg_form(회원가입, 회원정보수정)*/
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle { border-right: none; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_list div.mrfl_subject { width: 30%; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_list div:last-child { width: 70%; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_top h2 { font-size: 18px; font-weight: 600; margin-bottom: 15px; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle { font-size: 14px; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle .mrf_list:first-child.mb30px,.wrap .mb_reg_wrap .mrf_contents .mrf_bottom .mrf_title { margin-bottom: 20px; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_bottom { margin-top: 0; padding-left: 15px;  }
    .wrap .mb_reg_wrap .mrf_contents .mrf_list h3 ,.wrap .mb_reg_wrap .mrf_contents .mrf_bottom h3 ,.wrap .mb_reg_wrap .mrf_contents .mrf_bottom .mrf_list .mrfl_subject{ font-size: 15px; }
    .wrap .mb_reg_wrap .addr_zip .btn_zip { padding: 3px 5px 5px 5px;  }
    .wrap .mb_reg_wrap .addr_zip .btn_zip a { font-size: 12px; }
    .wrap .mb_reg_wrap .mb_reg_btn div.mt40px { margin-top: 50px; }
    .wrap .mb_reg_wrap .mb_reg_btn div button { font-size: 12px; }

    /*login modal find_info*/
    .modal_box .fi_top { padding-bottom: 0; }
    .find_info { height: 330px; }
    .find_info .find_info_form fieldset input { width: 40%; }
    .find_info .find_info_form fieldset .fi_txt p { font-size: 14px; }
    .find_info .find_info_form fieldset .fi_middle select { margin-top: 5px; width: 50%;  }

    /*board info_list(공지사항)*/
    .wrap .board_contents_wrap .board_contents .board_top { margin-bottom: 20px; }
    .wrap .board_contents_wrap .board_contents .board_middle .bm_top .bt_subject { font-size: 13px; }
    .wrap .board_contents_wrap .board_contents .board_middle .bm_top .board_date { font-size: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; }
    .wrap .board_contents_wrap .board_contents { margin-top: 30px; }
    .wrap .board_contents_wrap .board_contents .board_top h2 { font-size: 18px; }

    /*board_view*/
    .wrap .board_contents_wrap .view_contents .vc_top h2 { font-size: 16px; padding-bottom: 10px; }
    .wrap .board_contents_wrap .view_contents .vc_top p { font-size: 12px; }
    .wrap .board_contents_wrap .view_contents .vc_middle p { font-size: 12px; }
    .wrap .board_contents_wrap .view_contents .view_btn a { padding: 8px; font-size: 12px; }
    .wrap .board_contents_wrap .view_contents .vc_middle { margin: 20px 0; }

    /*footer*/
    .wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle,.wrap footer .footer_bottom_wrap .footer_bottom .ftb_right { width: 100%; }
    .wrap footer .footer_middle .ftm_top { text-align: center; font-size: 14px;  padding: 15px 0; }
    .wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle,.footer_bottom_wrap .footer_bottom .ftb_right { text-align: center; }
    .footer_bottom_wrap .footer_bottom .ftb_right { margin-top: 30px; }

}

@media (max-width:600px) {
    /*common*/
    .contents_border { padding-bottom: 10px; }
    .wrap header .header_middle { padding: 15px 0; }
    .wrap header .header_middle .hd_middle { width: 40%; }
    .wrap header .header_middle .hd_middle h1 a img { width: 100%; }
    .wrap header .header_middle .hd_right .M_hdr_wrap a:first-child img { width: 25px; }
    .wrap header .header_middle .hd_right .M_hdr_wrap a:last-child img { width: 30px; }
    .wrap header .header_middle .hd_left form .M_menu_icon img { width: 30px; }
    .wrap header .header_middle .hd_left,.wrap header .header_middle .hd_right { width: 30%; }
    .wrap section.contents_middle p { font-size: 36px; }

    /*aisde.left_menu*/
    .wrap aside.left_menu_wrap, .wrap aside.left_menu_wrap.active { width: 68%; }
    .wrap aside.left_menu_wrap .left_menu .left_login_box { padding: 10px 0; }
    .wrap  aside.left_menu_wrap .left_menu .left_login_box div a { font-size: 15px; }
    .wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li a { font-size: 14px; }
    .wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_main_menu { padding: 0 10px; }
    .wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li { padding: 12px 0; }
    .wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab_contents ul:not(.left_sub_menu) > li > a::after { right: 15px; }
    .wrap aside.left_menu_wrap .left_menu .catego_menu .cate_gnb .left_tab ul li a { font-size: 13px; }

    /*order*/
    .wrap .order_wrap section { margin: 10px 0; padding: 0; }
    .wrap .order_wrap .order_bottom .charge_info .pay_bottom .cil_middle .pay_info .pay_cash ul li input, 
    .wrap .order_wrap .order_bottom .charge_info .pay_bottom .cil_middle .pay_info .pay_card .pay_card_box div input 
    { width: 19%; margin-right: 0; }
    .wrap .order_wrap .order_middle .om_list .info_deliver select { width: 300px; }
    .wrap .order_wrap .order_bottom .charge_info .cil_bottom button { font-size: 14px; margin-bottom: 10px; }

    /*order_result*/
    .wrap .order_result_wrap .result_contents .rc_top .rct_bottom .rctb_right button { padding: 10px 0; font-size: 12px; }

    /*mb_reg_form(회원가입, 회원정보수정)*/
    .wrap .mb_reg_wrap .mrf_contents { margin-top: 30px; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_middle,.wrap .mb_reg_wrap .mrf_contents .mrf_bottom { padding: 0; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_list div.mrfl_subject, .wrap .mb_reg_wrap .mrf_contents .mrf_bottom .mrf_list .mrfl_subject { font-size: 14px; }
    .wrap .mb_reg_wrap .mrf_contents .mrf_bottom .mrf_list div select ,.wrap .mb_reg_wrap .mrf_contents .mrf_bottom .mrf_list div input::placeholder { font-size: 13px; }
    
    /*product_view*/
    .wrap .p_contents .p_bottom .cmb_tab ul li a { height: 45px; line-height: 45px; font-size: 15px; }
    .product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div:first-child,.product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div:last-child { padding: 2%; }
    .product_wrap .p_contents .p_middle .pro_form .p_right .p_btn div button { font-size: 14px; }
    .wrap .p_contents .p_bottom .cmb_contents table { font-size: 12px; }
    .wrap .p_contents .pd1per { padding: 2%; }
    .product_wrap .p_contents .p_middle .p_right .pro_name p { font-size: 13px; }
    .product_wrap .p_contents .p_middle .p_right .pro_name { padding-bottom: 5px; }
    .product_wrap .p_contents .p_middle .pro_form .p_right .pro_info ul li ,.product_wrap .p_contents .p_middle .pro_form .p_right .amount .pro_title p { font-size: 14px; }
    .product_wrap .p_contents .p_middle .pro_form .p_btn,.product_wrap .p_contents .p_middle .pro_form .p_right .pro_price ul li { margin-top: 15px; }
    .product_wrap .p_contents .p_middle .pro_form .p_right .pro_info ul li:first-child span { font-size: 16px; }
    .wrap .p_contents .p_bottom .cmb_tab ul li a { height: 35px; line-height: 35px; font-size: 13px; }

    /*info_list(공지사항)*/
    .wrap .board_contents_wrap .board_contents .board_middle .main_subject { padding-bottom: 10px; margin-top: 10px; }

    /*iquery_list(문의사항)*/
    .wrap .board_contents_wrap .board_contents .board_middle .main_subject { padding-bottom: 10px; margin-top: 10px; }
    .wrap .board_contents_wrap .board_contents .inquery_btn a { font-size: 12px; }
    .wrap .iq_write_form .iq_write_btn button { padding: 5px 20px; font-size: 13px; }
    .wrap .iq_write_form .iq_write_email select { width: 41%; }
    .wrap .iq_write_form .iq_write_number div span input { width: 27%; }

}

@media (max-width:400px) {
    .wrap header .header_middle .hd_middle { width: 50%;  }
    .wrap header .header_middle .hd_left, .wrap header .header_middle .hd_right { width: 25%; }
    .wrap header .header_middle .hd_middle h1 a img { width: 145px; }
    .wrap header .header_middle .hd_right .M_hdr_wrap a:first-child { margin-right: 5px; }
    .wrap header .header_middle .hd_left { margin-top: 5px; }
    .wrap header .header_middle .hd_right .M_hdr_wrap { margin-top: 5px; }
    .wrap header .header_middle .hd_right .M_hdr_wrap a:first-child img { width: 20px; }
    .wrap header .header_middle .hd_right .M_hdr_wrap a:last-child img { width: 25px; }
    .wrap header .header_middle .hd_left form .M_menu_icon img { width: 25px; }
    .wrap .contents_wrap .contents section.contents_top .ct_middle figure img { width: 100%; }
    .wrap .circle_slide-container .swiper-button-prev { left: 0; }
    .wrap .circle_slide-container .swiper-button-next { right: 0; }
    .wrap section.contents_middle { height: 200px; }
    .wrap section.contents_middle p { font-size: 33px; line-height: 200px; }

    /*aisde.left_menu*/
    .wrap aside.left_menu_wrap .left_menu .catego_menu .left_tab_subject ul li a { font-size: 13px; }
    .wrap aside.left_menu_wrap .left_logo img { width: 140px; }

    /*login*/
    .wrap .login_wrap .login_contents .login_bottom div button { padding: 15px; }

    /*footer*/
    .wrap footer .footer_middle .ftm_top a { margin-right: 10px; font-size: 12px; }
    .wrap footer .footer_bottom_wrap .footer_bottom .ftb_middle ul li,.wrap footer .footer_bottom_wrap .footer_bottom .ftb_right ul li { font-size: 12px; }

}


